/* your code */
table{
	height:200px;
	width:100%;
	border-spacing:0;
	border-radius: 10px; 
	overflow:hidden;
}

th,td{
	padding:10px;
	height:30px;
	width:80%;
	text-align:center
	
	
}
 
th{
	background-color:skyblue;
	color:white;
	
}
tbody tr:nth-child(even){
	background-color:lightgray;
	
}

